body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #5a1d80;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8cc18;
}

nav li {
    float: left;

    border: 1px solid #000000;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

div {
    background-color: #2cb23e;
    height: 200px;
}

footer {
    background-color: #1c52df;
    text-align: center;
    padding: 20px;
}
